{% extends '@EvotodiLogViewer/base_content.html.twig' %}
{% block content_body %}
<table class="table table-bordered">
    <tr>
        <th colspan="2">
            <a href="/">Home</a>
        </th>
    </tr>
    {% for log in logs %}
        <tr>
            <td>
                {% if log.exists %}
                <a href="{{ url('_log_viewer_viewer') }}?id={{ log.id }}">
                    {{ log.name }}
                </a>
                {% else %}
                    {{ log.name }} not found
                {% endif %}
            </td>
            <td>
                {% if log.exists %}
                <a href="{{ url('_log_viewer_viewer') }}?id={{ log.id }}&delete=true">
                    delete
                </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
