{% extends '@EvotodiLogViewer/base_content.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/evotodilogviewer/css/log-viewer.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/evotodilogviewer/vendor/highlight/styles/darcula.css') }}">
{% endblock %}

{% block content_body %}
    <div class="row">
        {% if noLog is defined %}
            <div class="alert alert-info">
                No Log has been generated for today!<br>
            </div>
        {% else %}
            <div>
                <div class="form">
                    <a href="/">Home</a>
                    <a href="{{ url('_log_viewer_list') }}">Back to logs</a>
                </div>
                <br>
                <div class="form">
                    <form>
                        <label class="checkbox-inline">
                            <input type="checkbox" checked onclick="toggle('DEBUG', this)">
                            debug
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" checked onclick="toggle('INFO', this)">
                            info
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" checked onclick="toggle('NOTICE', this)">
                            notice
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" checked onclick="toggle('WARNING', this)">
                            warning
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" checked onclick="toggle('ERROR', this)">
                            error
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" checked onclick="toggle('CRITICAL', this)">
                            critical
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" checked onclick="toggle('ALERT', this)">
                            alert
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" checked onclick="toggle('EMERGENCY', this)">
                            emergency
                        </label>
                    </form>
                </div>
            </div>
            <br>
            <div class="content">
                <table class="table table-bordered">
                    <tr class="header">
                        <th class="lvDateTime">DateTime</th>
                        <th class="lvChannel">Channel</th>
                        <th class="lvLevel">Level</th>
                        <th>Message</th>
                    </tr>
                    {% for line in log %}
                        <tr class="{{ line.level|lower }}">
                            <td>
                                {% if line.dateTime == false %}Date Parse Error{% else %}{{ line.dateTime|date('Y-m-d H:i:s') }}{% endif %}
                            </td>
                            <td>
                                {{ line.type }}
                            </td>
                            <td>
                                {{ line.level }}
                            </td>
                            <td>
                                {{ line.message|raw }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
<script type="application/javascript" src="{{ asset('bundles/evotodilogviewer/js/log-viewer.js') }}"></script>
<script type="application/javascript" src="{{ asset('bundles/evotodilogviewer/vendor/highlight/highlight.pack.js') }}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
