{% extends '@EvotodiLogViewer/base_content.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/evotodilogviewer/css/log-viewer.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/evotodilogviewer/vendor/highlight/styles/darcula.css') }}">
{% endblock %}

{% block content_body %}
    <div class="row">
        {% if noLog is defined %}
            <div class="alert alert-info">
                No Log has been generated for today!<br>
            </div>
        {% else %}
            <div>
                <div class="form">
                    <a href="/">Home</a>
                    <a href="{{ url('_log_viewer_list') }}">Back to logs</a>
                </div>
                {% if use_level %}
                    <br>
                    <div class="form">
                    <form>
                        <label class="checkbox-inline">
                            <input type="checkbox" checked onclick="toggle('{{levels.debug}}', this)">
                            debug
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" checked onclick="toggle('{{ levels.info }}', this)">
                            info
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" checked onclick="toggle('{{levels.notice}}', this)">
                            notice
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" checked onclick="toggle('{{levels.warning}}', this)">
                            warning
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" checked onclick="toggle('{{levels.error}}', this)">
                            error
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" checked onclick="toggle('{{levels.critical}}', this)">
                            critical
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" checked onclick="toggle('{{levels.alert}}', this)">
                            alert
                        </label>
                        <label class="checkbox-inline">
                            <input type="checkbox" checked onclick="toggle('{{levels.emergency}}', this)">
                            emergency
                        </label>
                    </form>
                </div>
                {% endif %}
            </div>
            <br>
            <div class="content">
                <table class="table table-bordered">
                    <tr class="header">
                        <th class="lvDateTime">DateTime</th>
                        {% if use_channel %}
                            <th class="lvChannel">Channel</th>
                        {% endif %}
                        {% if use_level %}
                            <th class="lvLevel">Level</th>
                        {% endif %}
                        <th>Message</th>
                    </tr>
                    {% for line in log %}
                        <tr class="{{ line.level|lower }}">
                            <td>
                                {% if line.dateTime == false %}Date Parse Error{% else %}{{ line.dateTime|date('Y-m-d H:i:s') }}{% endif %}
                            </td>
                            {% if use_channel %}
                                <td>
                                    {{ line.channel }}
                                </td>
                            {% endif %}
                            {% if use_level %}
                                <td>
                                    {{ line.level }}
                                </td>
                            {% endif %}
                            <td>
                                {{ line.message|raw }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('bundles/evotodilogviewer/js/log-viewer.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/evotodilogviewer/vendor/highlight/highlight.pack.js') }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
